.App {
  text-align: center;
  min-height: calc(100vh - 100px);
  /* 100vh is the full viewport height, 60px is the footer height */
}

.App .App-btn {
  border-radius: 50px;
  color: #6ddbb6;
  width: 46px;
  height: 88px;
  margin: 20px 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(69, 69, 69) 0%,
    #000000 50%,
    #595959 100%
  );
  cursor: pointer;
}

.bounce {
  color: #6ddbb6;
  display: inline-block;
  position: relative;
  -moz-animation: bounce 3s infinite linear;
  -o-animation: bounce 1s infinite linear;
  -webkit-animation: bounce 1s infinite linear;
  animation: bounce 1.5s infinite linear;
}
@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.1em;
  }
  70% {
    top: -0.2em;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.1em;
  }
  70% {
    top: -0.2em;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.1em;
  }
  70% {
    top: -0.2em;
  }
  100% {
    top: 0;
  }
}
@-ms-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.1em;
  }
  70% {
    top: -0.2em;
  }
  100% {
    top: 0;
  }
}
@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.1em;
  }
  70% {
    top: -0.2em;
  }
  100% {
    top: 0;
  }
}
