footer {
  border-bottom: 1px solid #02f5b02a;
}
.myfooter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #02f5b0f9;
  background: rgba(0, 0, 0, 0.224);
  height: 100px;
  width: 100%;
}

.myfooter h4 {
  color: white;
  font-size: calc(10px + 0.2vmin);
  text-decoration: none;
  text-transform: uppercase;
}

.myfooter a:hover {
  /* color: #00ffb7; */
  border-bottom: 2px solid #02f5b0f9;
}
