.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.title {
  /* border: 1px solid #ffffff86; */
  width: 360px;
}

.title h2 {
  color: transparent;
  text-shadow: 0 0 4px rgb(90, 125, 120);
  /* font-style: bold; */
  font-weight: 900;
  /* color: #fcfcfcfb; */
  font-size: calc(26px + 1vmin);
  /* text-shadow: 3px 3px 0px #00000000, 0px -20px 4px rgb(0, 0, 0); */
  letter-spacing: 0.2em;
  text-align: center;
}

.home-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  border: 1px solid #ffffff;
  width: 360px;
  height: 360px;
  /* background: rgba(217, 217, 217, 0.58); */
  margin-bottom: 20px;
  backdrop-filter: blur(6px);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 0px 100px #61fbdf43, -4px 0px 100px #61fbe63b,
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
}

.card:hover {
  border: 2px solid #02f5b0f9;
  transform: scale(1.05);
  /* font-size: calc(14px + 0.5vmin); */
  box-shadow: 4px 0px 200px #fffffff8, -4px 0px 200px #61fbe63b,
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
}

/* .card:active {
  transform: scale(0.99) rotateZ(360deg);
} */

.card p {
  font-size: calc(14px + 0.2vmin);
  width: 260px;
  letter-spacing: 0.1em;
  line-height: 1.6;
  background-color: #00000000;
  /* font-weight: bolder; */
}
.App .App-btn {
  border-radius: 50px;
  color: #6ddbb6;
  width: 46px;
  height: 88px;
  margin: 20px 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(69, 69, 69) 0%,
    #000000 50%,
    #595959 100%
  );
  cursor: pointer;
}

.pulse {
  animation: pulse-animation 2s infinite;
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 2px 20px rgba(0, 0, 0, 0.221);
  }
}

.pulse {
  animation: pulse 2500ms infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #393939;
  }
  50% {
    box-shadow: 0 0 0 1px #7fffea70;
  }
  100% {
    box-shadow: 0 0 0 1px #fbb32f01;
  }
}

.pulse-btn {
  animation: pulse 2000ms infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #323232;
  }
  50% {
    box-shadow: 0 1px 0px 2px #61fbe13b;
  }
  100% {
    box-shadow: 0 0 0 1px #00000096;
  }
}

.bounce {
  color: #6ddbb6;
  display: inline-block;
  position: relative;
  -moz-animation: bounce 3s infinite linear;
  -o-animation: bounce 1s infinite linear;
  -webkit-animation: bounce 1s infinite linear;
  animation: bounce 1.5s infinite linear;
}
@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.1em;
  }
  70% {
    top: -0.2em;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.1em;
  }
  70% {
    top: -0.2em;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.1em;
  }
  70% {
    top: -0.2em;
  }
  100% {
    top: 0;
  }
}
@-ms-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.1em;
  }
  70% {
    top: -0.2em;
  }
  100% {
    top: 0;
  }
}
@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.1em;
  }
  70% {
    top: -0.2em;
  }
  100% {
    top: 0;
  }
}

@media (max-width: 480px) {
  .title {
    width: 90%;
    margin-bottom: 10px;
  }

  .card {
    width: 320px;
    height: 320px;
  }
  .card p {
    font-size: calc(12px + 0.3vmin);
    width: 160px;
    line-height: 1.5;
  }
}
