.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: rgba(217, 217, 217, 0.58); */
  /* cursor: pointer; */
  /* font-weight: 400; */
  /* transition: all 0.3s ease-in-out; */
  /* transform: scale(1.25); */
  /* border: 1px solid #ffffff86; */
  /* font-weight: 400; */
  /* font-size: calc(28px + 1vmin); */
  /* backdrop-filter: blur(6px); */
  /* background: linear-gradient(
    90deg,
    rgb(69, 69, 69) 0%,
    #000000 50%,
    #595959 100%
  ); */
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 400px; */
  /* border: 1px solid #ffffff86; */
}
.title h1 {
  color: transparent;
  text-shadow: 0 0 4px rgb(90, 125, 120);
  /* height: 400px; */
  letter-spacing: 0.1rem;
}
.title h1:hover {
  color: #6ddbb6;
  text-shadow: 2px 4px 0px #000000;
}
.title h4 {
  background-color: #ff000000;
  text-shadow: 1px 1px 0px #000000, -1px -1px 0px #000000;
  letter-spacing: 0.2rem;
}

.title h4:hover {
  color: #ffffff;
}
.home-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-card h5 {
  background-color: #00000000;
}
.card {
  margin: 20px 0;
  border: 2px solid #000000;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  /* height: 120px; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 0px 100px #61fbdf43, -4px 0px 100px #61fbe63b,
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
  border-radius: 46px;
  /* background: linear-gradient(225deg, #6ddbb6, #000000, #555555); */
}
.card:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 3px 5px 0 1px #6ddbb6;
}

.p-content {
  /* font-size: 18px; */
  color: #ffffff;
  width: 380px;
  height: auto;
  /* background-color: #00000000; */
  padding: 46px;
  border: 2px solid #2c2c2c;
  letter-spacing: 0.1rem;
  box-shadow: 4px 0px 20px #61fbdf89, -4px 0px 100px #61fbe689,
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
  border-radius: 48px;
}
.p-content:hover {
  color: #c3ffeb;
  /* transform: scale(1.05); */
  /* line-height: 1.5; */
  /* letter-spacing: 0.1em; */
  /* font-style: italic; */
  /* font-weight: bold; */
  border: 2px solid #6ddbb6;
}
.App-btn {
  display: flex;
  align-items: center;
  height: 100px;
  cursor: pointer;
  padding: 8px;
  border-radius: 48px;
  /* background: #00000000; */
}
.App-btn img {
  width: 38px;
  height: 68px;
  /* border-radius: 48%; */
}
.pulse {
  animation: pulse 4000ms infinite;
}
.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #000000;
    /* border: #000000 2px solid; */
  }
  50% {
    box-shadow: 0 0px 8px #6ddbb6;
  }
  100% {
    box-shadow: 0 0px 200px #00000000;
  }
}

.pulse-print {
  animation: pulse-print 3000ms infinite;
  border: #6d6d6d 1px solid;
}
.pulse-print:hover {
  animation: none;
  /* border: #ff0000 1px solid; */
  /* border: none; */
}

@keyframes pulse-print {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}

.bounce {
  color: #6ddbb6;
  display: inline-block;
  position: relative;
  background-color: #01ddbc00;
  -moz-animation: bounce 1s infinite linear;
  -o-animation: bounce 1s infinite linear;
  -webkit-animation: bounce 1s infinite linear;
  animation: bounce 1s infinite linear;
}
@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.1em;
  }
  70% {
    top: -0.2em;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.1em;
  }
  70% {
    top: -0.2em;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.1em;
  }
  70% {
    top: -0.2em;
  }
  100% {
    top: 0;
  }
}
@-ms-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.1em;
  }
  70% {
    top: -0.2em;
  }
  100% {
    top: 0;
  }
}
@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.1em;
  }
  70% {
    top: -0.2em;
  }
  100% {
    top: 0;
  }
}

@media (max-width: 780px) {
  /* .title h1 {
    font-size: 6vmin;
  } */
}

@media (max-width: 480px) {
  /* .title { */
  /* width: 380px; */
  /* } */
  /* .title h1 { */
  /* font-size: 9vmin; */
  /* width: 380px; */
  /* } */

  .title h2 {
    font-size: 18px;
    font-weight: 900;
    text-shadow: 0 0 2px rgb(0, 0, 0);
  }
  /* .title h2:hover {
    text-shadow: 0 0 8px rgb(90, 125, 120);
  } */
  .p-content {
    width: 320px;
    padding: 40px 26px;
  }
}
