.logo {
  /* border: 2px solid red; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* position: relative; */
  /* position: absolute; */
  /* display: block; */
  /* z-index: 1; */
  /* top: 8vmin; */
  /* border: 0.2vmin dashed #02f9b3; */
  height: 140px;
  /* margin-top: 40px; */
}
.logo em {
  color: #ffffff;
  top: 3.5vmin;
  background: #00000000;
  font-size: 2.5vmin;
  position: relative;
  font-style: normal;
  width: 3.4vmin;
  text-align: center;
}

.logo a {
  text-decoration: none;
}

.logo h1 {
  display: flex;
  justify-content: center;
}

.logo h1::before {
  content: "";
  position: absolute;
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  border: 0.2vmin dashed #6ddbb6;
  box-shadow: 0px 0px 100px #6ddbb6;
}

em.planet {
  /* -webkit-animation: planet-rotate 5s linear infinite; */
  animation: planet-rotate 20s linear infinite;
}

/* em.planet::before {
  content: "";
  position: absolute;
  top: -1vmin;
  z-index: -1;
  width: 3vmin;
  height: 1vmin;
  border-radius: 50%;
  background: #fd0000;
} */

em.planet.left {
  transform-origin: 6.8vmin 1.6vmin;
  border-radius: 50%;
  z-index: 1;
  /* color: green; */
  /* box-shadow: 0px -2px 10px #000000, 0px 2px 2px #6ddbb6; */
  /* background: linear-gradient(180deg, #02ba0500, #00000000, #00000000, #02ba05); */
  /* box-shadow: -1px 2px 10px rgba(0, 128, 0, 0), 1px -2px 2px green; */
  box-shadow: 0px 1px 2px #6ddbb6;
}

em.planet.right {
  transform-origin: -3.4vmin 1.6vmin;
  border-radius: 50%;
  z-index: 1;
  /* color: red; */
  /* box-shadow: 0px 2px 4px red, 0px -2px 2px rgba(255, 0, 0, 0); */
  /* background: linear-gradient(180deg, #fe0000, #00000000, #00000000, #fe000000); */
  box-shadow: 0px -1px 2px #6ddbb6;
}

/* .right {
  box-shadow: 0px 2px 1px #eaaa08fe, 1px -2px 2px #05d2f6;
} */
/* .left {
  box-shadow: 0px 2px 1px #ff0303, 1px -2px 2px #08eb1b;
} */
@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 940px) {
  .logo {
    height: 100px;
  }
}
@media (max-width: 760px) {
  .logo {
    height: 60px;
  }
}
@media (max-width: 480px) {
  .logo {
    height: 60px;
    /* margin: 60px 0; */
  }
  .logo em {
    width: 4.6vmin;
    top: 4.4vmin;
    font-size: 4vmin;
  }
  .logo h1::before {
    width: 14vmin;
    height: 14vmin;
  }

  em.planet.left {
    transform-origin: 9.4vmin 3vmin;
    /* box-shadow: 0px 1px 1px #00ff2a; */
  }
  em.planet.right {
    transform-origin: -4.8vmin 2.6vmin;
    /* box-shadow: 0px -1px 1px #fe0000; */
  }
}
