.logo {
  /* border: 2px solid red; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* height: 25%; */
  /* margin-bottom: 20px; */
  height: 200px;
}
.logo em {
  /* font-family: "Josefin Sans", sans-serif; */
  color: #6ddbb6;
  top: 7.6vmin;
  background: #00000000;
  font-size: 3vmin;
  position: relative;
  font-style: normal;
  width: 4vmin;
  text-align: center;
}

.logo a {
  text-decoration: none;
}

.logo h1 {
  display: flex;
  flex-direction: row;

  justify-content: center;
  /* position: relative; */
  /* border: 2px solid red; */
  /* height: 200px; */
}

.logo h1::before {
  /* height: 160px; */
  content: "";
  /* display: block; */
  position: absolute;
  /* z-index: 1; */
  top: 6vmin;
  width: 12vmin;
  height: 12vmin;
  border-radius: 50%;
  border: 0.2vmin dashed #6ddbb6;
}

em.planet {
  /* -webkit-animation: planet-rotate 2s linear infinite; */
  animation: planet-rotate 10s linear infinite;
  /* position: relative; */
}
/* 
em.planet::before {
  content: "";
  position: absolute;
  top: -2vmin;
  z-index: -1;
  width: 1vmin;
  height: 1vmin;
  border-radius: 50%;
  background: #ededed;
} */

em.planet.left {
  transform-origin: 8vmin 2vmin;
  border-radius: 50%;
  z-index: 1;
  /* background: linear-gradient(225deg, #000000, #88ffe3); */
  /* box-shadow: -1px 2px 12px #6ddbb6, 1px -2px 12px #91fff2; */
  box-shadow: 0px 2px 1px #ff0303, 1px -2px 2px #08eb1b;
}

em.planet.right {
  transform-origin: -4vmin 2vmin;
  border-radius: 50%;
  z-index: 1;
  /* background: linear-gradient(225deg, #72e6bf, #88ffe3); */
  /* box-shadow: -1px 2px 12px #6ddbb6, 1px -2px 12px #91fff2; */
  box-shadow: 0px 2px 1px #eaaa08fe, 1px -2px 2px #05d2f6;
}

/* .right {
  box-shadow: 0px 2px 1px #eaaa08fe, 1px -2px 2px #05d2f6;
} */
/* .left {
  box-shadow: 0px 2px 1px #ff0303, 1px -2px 2px #08eb1b;
} */
@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .logo {
    /* background-color: red; */
    height: 120px;
  }

  .logo h1::before {
    top: 10vmin;
    width: 12vmin;
    height: 12vmin;
    /* border: 0.1vmin solid #6ddbb6; */
    /* border: none; */
  }
  em.planet.left {
    transform-origin: 8vmin 2vmin;
    /* background: linear-gradient(225deg, #000000, #88ffe3); */
    box-shadow: -1px 4px 4px #02f9b3;
  }

  em.planet.right {
    transform-origin: -4vmin 2vmin;
    /* background: linear-gradient(225deg, #72e6bf, #88ffe3); */
    box-shadow: 1px -4px 4px #ff0000;
  }
}
