.signup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  /* width: min-content; */
  /* background-color: rgb(36, 167, 80); */
}
.bottom {
  /* -webkit-box-shadow: 2px 4px 4px 1px rgba(252, 0, 0, 0.965); */
  box-shadow: 0px 0px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 12px;
}
.image-box {
  margin-top: 40px;
}
.signup-box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.formInput {
  display: flex;
  flex-direction: column;
}
.formInput input {
  background-color: rgb(194, 194, 194);
  border: none;
  border-radius: 6px;
  margin: 10px;
  width: 300px;
}
.signup-box form {
  margin: 20px;
  padding: 20px;
}

/* .right {
  flex: 2;
} */

/* .formInput {
  width: 60%;
} */

/* label {
  display: flex;
  align-items: center;
  gap: 10px;
} */

/* .icon {
  cursor: pointer;
  color: rgb(52, 168, 137);
} */

/* .signup-box input { */
/* width: 100%; */
/* padding: 10px; */
/* border: none; */
/* border-bottom: 1px solid gray; */
/* } */
