.subscribe {
  margin-top: 100px;
  /* height: 300px; */
  /* border: 2px solid red; */
}
.subscribe form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe input {
  font-size: calc(16px + 1vmin);
  background: rgb(221, 221, 221);
  border: none;
  border-radius: 8px;
  height: 52px;
  width: 242px;
  padding: 10px;
}
.subscribe label {
  font-size: calc(14px + 0.3vmin);
  letter-spacing: 0.1em;
  color: #b5b5b557;
  padding-left: 10px;
}

.subscribe button {
  margin-top: 20px;
}

/* .Error {
  color: red;
} */

@media (max-width: 480px) {
  /* .subscribe { */
  /* margin: 0; */
  /* padding: 0; */
  /* } */

  /* .subscribe button { */
  /* font-size: calc(12px + 0.1vmin); */
  /* } */
}
